<h1>Product:</h1>
<img src = <%= @product.image %>>
<p> <%= @product.name %> </p>
<p> <%= @product.description %> </p>
<p> <%= @product.price %> </p>
<a href="/products/<%= @product.id %>/edit">Edit This Product</a><br>
<%= link_to "Delete This Product", "/products/#{@product.id}", method: :delete %>

